<!DOCTYPE html>
<html>

<head>
    <title>Reddit Embed Fix | redditfx.com</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#FF4500" data-react-helmet="true" name="theme-color" />

    <!--<meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="<%= data.vidUrl %>" />
    <meta name="twitter:description" content="<%= data.title %>" />
    <meta name="twitter:player:width" content="720" />
    <meta name="twitter:player:height" content="480" />
    <meta name="twitter:player:stream" content="<%= data.vidUrl %>" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />-->

    <meta property="og:type" content="video.movie">
    <meta property="og:site_name" content="Reddit Embed Fix | redditfx.com">
    <meta property="og:url" content="<%= data.postUrl %>" />
    <meta property="og:video" content="<%= data.vidUrl %>" />
    <meta property="og:video:secure_url" content="<%= data.vidUrl %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="1280" />
    <meta property="og:video:height" content="720" />
    <meta property="og:title" content="<%= data.sub %> - <%= data.title %>" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">

    <script src="/public/js/main.js"></script>
</head>

<body class="preload">
    <div class="centered">
        <a href="<%= data.postUrl %>" class="button" id="redditBtn"><i class="fab fa-reddit-alien"></i>Original Reddit
            post</a>
        <a href="<%= data.vidUrl %>" class="button" id="miscBtn"><i class="far fa-file-video"></i>Direct link to
            video</a>
        <a href="https://github.com/Cosmiiko/RedditEmbedFix" class="button" id="miscBtn"><i
                class="fab fa-github"></i>RedditFx's Github repo</a>
    </div>
</body>

</html>